{
  "extends": ["standard", "standard-react", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": "off"
  }
}
